<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>React JS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <meta name="geo.placename" content="Hanoi, Mỹ Đình, Việt Nam" />
    <meta name="geo.position" content="21.0315050;21.0315050" />
    <meta name="geo.region" content="VN-Hanoi" />
    <meta name="ICBM" content="21.0315050;21.0315050" />
    <script src="/socket.io/socket.io.js"></script>
    <!--	
	<script src="lib/script/react.js"></script>
	<script src="lib/script/react-dom.js"></script>
	<script src="lib/script/babel-core.js"></script>-->
    <script src="lib/script/jquery-3.2.1.min.js"></script>
    <!-- plugin Icon -->
    <link href="assets/plugin/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <script>
		var socket = io.connect('http://localhost:8000');
    </script>
    <script src="assets/js/functions.js"></script>
    <script src="assets/js/my.js"></script>
</head>

<body>
    <div class="dangnhap">
        <div class="col-4 khungdangnhap">
            <div id="dong-dangnhap">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <h3>Đăng nhập</h3>
            <form>
                <div class="group">
                    <label>
                        Tài khoản
                    </label>
                    <input type="text" id="dangnhap-taikhoan" placeholder="Tên đăng nhập hoặc email">
                    <span id="dangnhap-thongbao-taikhoan"></span>
                </div>
                <div class="group">
                    <label>
                        Mật khẩu
                    </label>
                    <input type="password" id="dangnhap-matkhau">
                    <span id="dangnhap-thongbao-matkhau"></span>
                </div>
                <div class="group">
                    <label>
                        Ghi nhớ đăng nhập
                    </label>
                    <input type="checkbox" id="dangnhap_ghinho">
                </div>
                <div class="group">
                    <button id="dangnhap_btndangnhap">Đăng nhập</button>
                    <a href="#">Quên mật khẩu?</a>
                </div>
            </form>
        </div>
    </div>
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-7 header-left">
                    <div class="row">
                        <div class="col-2 logo">
                            <a href="#">
                                <h1><img src="assets/images/logo-header.png" alt=""></h1>
                            </a>
                        </div>
                        <div class="col-10 main-menu">
                            <ul class="menu">
                                <li>
                                    <a href=""><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>Toán</span><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Đề thi THPT quốc gia</a>
                                            <ul class="sub-menu-2">
                                                <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Năm 2017</a></li>
                                                <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Năm 2016</a></li>
                                                <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Năm 2015</a></li>
                                            </ul>
                                        </li>
                                        <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Đề thi học sinh giỏi</a></li>
                                        <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Tài liệu</a></li>
                                        <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Kinh nhiệm</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-thermometer-full" aria-hidden="true"></i><span>Lý</span><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Đề thi THPT quốc gia</a>
                                            <ul class="sub-menu-2">
                                                <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Năm 2017</a></li>
                                                <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Năm 2016</a></li>
                                                <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Năm 2015</a></li>
                                            </ul>
                                        </li>
                                        <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Đề thi học sinh giỏi</a></li>
                                        <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Tài liệu</a></li>
                                        <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Kinh nhiệm</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-hourglass-start" aria-hidden="true"></i><span>Hóa</span><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Đề thi THPT quốc gia</a>
                                            <ul class="sub-menu-2">
                                                <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Năm 2017</a></li>
                                                <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Năm 2016</a></li>
                                                <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Năm 2015</a></li>
                                            </ul>
                                        </li>
                                        <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Đề thi học sinh giỏi</a></li>
                                        <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Tài liệu</a></li>
                                        <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Kinh nhiệm</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-linode" aria-hidden="true"></i><span>Sinh</span><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Đề thi THPT quốc gia</a>
                                            <ul class="sub-menu-2">
                                                <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Năm 2017</a></li>
                                                <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Năm 2016</a></li>
                                                <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Năm 2015</a></li>
                                            </ul>
                                        </li>
                                        <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Đề thi học sinh giỏi</a></li>
                                        <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Tài liệu</a></li>
                                        <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Kinh nhiệm</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-ravelry" aria-hidden="true"></i><span>Hướng dẫn</span><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Đề thi THPT quốc gia</a>
                                            <ul class="sub-menu-2">
                                                <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Năm 2017</a></li>
                                                <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Năm 2016</a></li>
                                                <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Năm 2015</a></li>
                                            </ul>
                                        </li>
                                        <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Đề thi học sinh giỏi</a></li>
                                        <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Tài liệu</a></li>
                                        <li><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Kinh nhiệm</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-5 header-right">
                    <div class="row">
                        <div class="col-7 search">
                            <form>
                                <input type="text" name="search" placeholder="Bạn cần gì?" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Bạn cần gì?'" />
                                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <div class="col-5 login">
                            <a id="mo-dangnhap">
                                <span>Đăng nhập</span>
                            </a>
                            /
                            <a id="mo-dangky">
                                <span>Đăng ký</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="tintucmoi">
        <div class="container-fluid">
            <div class="row">
                <div class="left">
                    <p>Thứ 6 - Ngày 12/5/2017</p>
                </div>
                <div class="right">
                    <marquee>
                        <a href="#">Đề thi thử môn Hóa sở Giáo Dục và Đào Tạo Phú Yên năm 2017</a>
                        <a href="#">Đề thi tdasdasdsad </a>
                        <a href="#">Đề thi tdasdasdsad  thử môn Hóa sở Giáo Dục và Đào Tạo Phú Yên năm 2017</a>
                        <a href="#">Tạo Phú Yên năm 2017 Đề thi thử môn Hóa sở Giáo Dục và Đào Tạo Phú Yên năm 2017</a>
                    </marquee>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="main-bailam">
        <div class="container-fluid">
            <div class="row">
            <div class="col-12 header-bailam">
                <p><i class="fa fa-hand-o-right" aria-hidden="true"></i> Bạn đang làm: Đề thi thử Hóa trường THPT Chuyên Sư Phạm lần 4</p>
                <p><i class="fa fa-user-o" aria-hidden="true"></i> Đăng bởi: Cao Đắc Hải</p>
                <p><i class="fa fa-clock-o" aria-hidden="true"></i> Ngày đăng: 12/5/2017</p>
                <p><i class="fa fa-heart-o" aria-hidden="true"></i> Điểm số: 9145</p>
                <div id="chonmau-bailam">
                    <span id="mausang"></span>
                    <span id="mautoi"></span>
                </div>
                <div id="zoom">
                    <i class="fa fa-expand" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-9 content">
                <script>
                    for(var i = 1; i<=40;i++){
                        document.write('\
                <div class="group" id="cau'+ i +'">\
                    <form>\
                        <div class="cauhoi">\
                            <p><span>Câu '+ i +'</span>: Hỗn hợp Q gồm 3 peptit X, Y và Z đều mạch hở và được tạo bởi alanin và glyxin; X và Y là đồng phân; MY< MZ; trong Q có tỉ lệ khối lượng mO : mN = 52 : 35. Đun nóng hết 0,3 mol Q trong dung dịch KOH, cô cạn dung dịch sau phản ứng thu được 120 gam chất rắn khan T. Đốt cháy hết T, thu được 71,76 gam K2CO3. Biết tổng số nguyên tử oxi trong 3 peptit bằng 17. Phần trăm khối lượng của Z trong Q gần nhất với giá trị nào sau đây?</p>\
                        </div>\
                        <div class="dapan">\
                            <label>\
                                <input type="radio" data="a'+ i +'" class="option-input radio" name="example"/>\
                                <p><span>A.</span>16,25%.</p>\
                            </label>\
                            <label>\
                                <input type="radio" data="b'+ i +'" class="option-input radio" name="example" />\
                                <p><span>B.</span>33,71%.</p>\
                            </label>\
                            <label>\
                                <input type="radio" data="c'+ i +'" class="option-input radio" name="example" />\
                                <p><span>C.</span>15,45%.</p>\
                            </label>\
                            <label>\
                                <input type="radio" data="d'+ i +'" class="option-input radio" name="example" />\
                                <p><span>D.</span>16,35%.</p>\
                            </label>\
                        </div>\
                    </form>\
                </div>\
                    ')};
                </script>
            </div>
            <div class="col-3 sidebar">
                <div class="group">
                    <div class="thoigian">
                        <p id="thoigian">15:32:12</p>
                    </div>
                </div>
                <div class="group">
                    <div class="dapan">
                        <script>
                            for(var i = 1; i<= $('.content .group').length ;i++){
                                document.write("<span id='dapan"+i+"'>" + i + "</span>")
                            }
                        </script>
                    </div>
                </div>
                <div class="group">
                    <div class="nopbai">
                        <p>
                            <a href="#" id="nopbai">Nộp bài</a>
                        </p>
                        <p>
                            <a href="#" id="huybailam">Hủy bài làm</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4 footer1">
                    <div class="gioithieu">
                        <img src="assets/images/logo-footer.png">
                        <h2>Hanyny - Website tổng hợp đề thi THPT quốc gia mới nhất.</h2>
                        <p>Sáng lập bởi: <a href="#">Cao Đắc Hải</a></p>
                    </div>
                    <div class="blogbanbe">
                        <h3>Blog bạn bè</h3>
                        <a href="#" target="_blank">Blog Hóa Học</a> | <a href="#" target="_blank">Blog Vật Lý</a> | <a href="#"
                            target="_blank">Blog Toán Học</a>
                    </div>
                </div>
                <div class="col-4 footer2">

                </div>
                <div class="col-4 footer3">
                    <div class="formdangkynhantin">
                        <form>
                            <h3>Đăng ký nhận tài liệu mới nhất</h3>
                            <p>Vui lòng nhập Email của bạn vào phía dưới. Hỗ trợ: Gmail, Yahoo, Outlook, Hotmail...</p>
                            <input type="email" name="subwebsite" placeholder="Email của bạn...">
                            <input type="submit" name="subgui" value="Đăng ký">
                        </form>
                    </div>
                    <div class="doinguadmin">
                        <h3>Đội ngũ Admin</h3>
                        <p>
                            Đỗ Văn Toàn, Nguyễn Thị Hồng Ngát, Vũ Văn An, Vũ Thành Trung, Vũ Ngọc Hà, Cao Đắc Hải, Nguyễn Quốc Khánh, Lê Thị Mai Quỳnh
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container-fluid">

                <i class="fa fa-copyright" aria-hidden="true"></i>
                <span>2017 - Tài liệu.</span>
            </div>
        </div>
    </div>
</body>

</html>