<!DOCTYPE html>
<html>

<head>
    <base href="/" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
    <meta http-equiv="content-language" content="vi" />
    <meta name='revisit-after' content='1 days' />
    <script src="/socket.io/socket.io.js"></script>
    <!--	
	<script src="lib/script/react.js"></script>
	<script src="lib/script/react-dom.js"></script>
	<script src="lib/script/babel-core.js"></script>-->
    <script src="lib/script/jquery-3.2.1.min.js"></script>
    <!-- plugin Icon -->
    <link href="assets/plugin/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <script>
		var socket = io.connect('http://localhost:8000');
    </script>
    <script src="assets/js/login.js"></script>
    <script src="assets/js/my.js"></script>
</head>

<body>
    <div id="home"></div>
    <script type="text/javascript" src="core/my.js"></script>
</body>

</html>