.main{
    position: relative;
    z-index: 50;
    background-color: @background-color;
    .main-section{
        margin: 10px 0px;
        article{
            float: left;
            display: block;
            margin: 10px 0px;
            .admin-thumnail-main{
                float: left;
                display: inline-block;
                width: 60px;
                position: relative;
                a{
                    text-decoration: none;
                }
                img{
                    width: 46px;
                    height: 46px;
                    border-radius: 100%;
                }
                .pupo {
                    position: absolute;
                    width: 60px;
                    left: -7px;
                    top: -20px;
                    text-align: center;
                    p{
                        background-color: @main-color; 
                        color: #ffffff;
                        font-size: 8px;
                        padding: 2px 2px;
                        line-height: 1.1;
                        max-height: 19px;
                        overflow: hidden;
                    }
                    p:before {
                        content: "";
                        border-top: 5px solid @main-color;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        left: 42%;
                        position: absolute;
                        top: 100%;
                        width: 0;
                    }
                }
                
            }
            .post-main{
                display: block;
                margin-left: 55px;
                overflow: hidden;
                margin-top: 3px;
                a{
                    text-decoration: none;
                    h2{
                        font-size: 16px;
                        font-weight: normal;
                        color: @text-main-color;
                        line-height: 1.1;
                        transition: all 0.5s;
                    }
                    h2:hover{
                        color:@text-main-color-hover;
                    }
                }
                p{
                    font-weight: normal;
                    font-size: 12px;
                    color: @text-main-color-2;
                    .fa{
                        color: @text-main-color-2;
                        padding-left: 15px;
                    }
                    a{
                        color:@text-main-color-2;
                        transition: all 0.3s;
                    }
                    a:hover{
                        span{
                            color: @text-main-color-hover;
                        }
                    }
                    span{
                        color:@text-main-color-2;
                    }
                }
            }           
        }
    }
}
// Main admin đăng
// .main{
//     article{
//         margin: 20px 0px;
//     }
//     .thumnail-main{
//         img{
//             width: 100%;
//             height: auto;
//         }
//     }
//     .post-main{
//         a{
//             text-decoration: none;
//             h2{
//                 font-size: 16px;
//                 font-weight: normal;
//                 color: @text-main-color;
//                 line-height: 1.1;
//                 transition: all 0.5s;
//             }
//             h2:hover{
//                 color:@text-main-color-hover;
//             }
//         }
//         p{
//             font-weight: normal;
//             font-size: 12px;
//             color: @text-main-color-2;
//             .fa{
//                 color: @text-main-color-2;
//                 padding-left: 15px;
//             }
//             a{
//                 color:@text-main-color-2;
//                 transition: all 0.3s;
//             }
//             a:hover{
//                 span{
//                     color: @text-main-color-hover;
//                 }
//             }
//             span{
//                 color:@text-main-color-2;
//             }
//         }
//         .post-desc{
//             p{
//                 color: @text-main-color;
//             }
//         }
//     }
// }
.slide-main{
    margin: 10px 0px;
    height: 300px;
    width: 100%;
    overflow: hidden;
    .col-slide-main{
        article{
            position: relative;
            padding: 0px;
            float: left;
            height: 300px;
            width: 100%;
            margin-right: 2px;
            .thumnail-slide{
                height: 300px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .backgound-slide{
                position: absolute;
                width: 100%;
                height: 100%;
                bottom: 0;
                transition: all 0.4s;
                background: rgba(0, 0, 0, 0.6);
            }
            .post-slide{
                position: absolute;
                bottom:5px;
                background-color: rgba(0,0,0,0.6);
                transition: all 0.4s;
                a{
                    text-decoration: none;
                    h2{
                        color: #ffffff;
                        font-weight: bold;
                        font-size: 18px;
                        padding: 10px 10px 0px 20px;
                    }
                }
                p{
                    color: #bdc3c7;
                    font-size: 12px;
                    padding:0px 10px 10px 10px;
                    i{
                        padding-left: 15px;
                    }
                    a{
                        color: #bdc3c7;
                    }
                }
            }
        }
        article:hover{
            .backgound-slide{
                background: rgba(0, 0, 0, 0.7);
            }
            .post-slide{
                bottom: 15px;
            }
        }
    }
}
.xemthem{
    width: 100%;
    height: 40px;
    border: solid 1px @main-color;
    a{
        text-align: center;
        text-decoration: none;
        line-height: 40px;
        display: block;
        font-weight: bold;
        color: @main-color;
        transition:  all 0.4s;
    }
    a:hover{
        color: #fff;
        background-color: @main-color;
    }
    a:active{
        cursor: wait;
    }
}