<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADMIN</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
    <meta http-equiv="content-language" content="vi" />
    <meta name='revisit-after' content='1 days' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <!-- plugin Icon -->
    <link href="assets/plugin/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/admin/style.css" rel="stylesheet">
    <script>
		var socket = io.connect('http://localhost:8000');
    </script>
</head>
<body>
    <div id="admin"></div>
    <script type="text/javascript" src="core/admin.js"></script>
</body>
</html>